In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv('sample data\\heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [7]:
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [8]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [9]:

y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

## apply voting on whole dataset

In [17]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [18]:
svm1 = SVC(probability=True, kernel='poly', degree=1)
svm2 = SVC(probability=True, kernel='poly', degree=2)
svm3 = SVC(probability=True, kernel='poly', degree=3)
svm4 = SVC(probability=True, kernel='poly', degree=4)
svm5 = SVC(probability=True, kernel='poly', degree=5)

In [22]:
estimators = [('svm1',svm1),('svm2',svm2),('svm3',svm3),('svm4',svm4),('svm5',svm5)]

## applying Voting classifier

In [23]:
import warnings
warnings.filterwarnings("ignore")


for est in estimators:
    x = cross_val_score(est[1],X,y,cv=10,scoring='accuracy')
    print("x value is : ",x)
    print(est[0],np.round(np.mean(x),2))      # decimal ke baad 2 value tak print honga
    print()

x value is :  [0.65048544 0.75728155 0.78640777 0.66990291 0.68932039 0.73529412
 0.66666667 0.65686275 0.66666667 0.69607843]
svm1 0.7

x value is :  [0.69902913 0.76699029 0.78640777 0.70873786 0.7184466  0.73529412
 0.65686275 0.6372549  0.65686275 0.65686275]
svm2 0.7

x value is :  [0.72815534 0.76699029 0.78640777 0.68932039 0.74757282 0.7254902
 0.64705882 0.65686275 0.68627451 0.66666667]
svm3 0.71

x value is :  [0.73786408 0.77669903 0.75728155 0.67961165 0.74757282 0.73529412
 0.64705882 0.6372549  0.69607843 0.64705882]
svm4 0.71

x value is :  [0.75728155 0.7961165  0.77669903 0.68932039 0.74757282 0.73529412
 0.6372549  0.66666667 0.67647059 0.6372549 ]
svm5 0.71

## applying Voting classifier

In [24]:
from sklearn.ensemble import VotingClassifier
VC = VotingClassifier(estimators=estimators)
k = cross_val_score(VC,X,y,cv=10,scoring='accuracy')
print('voting classifier: ',np.round(np.mean(k),2))

voting classifier:  0.71